.features-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.features-list__item {
  flex-basis: 270px;
  text-align: left;
}

.features-list__icon {
  @extend %align-list;
  width: 270px;
  height: 120px;
  background-color: var(--item-backgroung);
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
}

.features-list__title {
  @include font(14px, bold, 1.1428, 0.03em);
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.features-list__description {
  @include font(14px, normal, 1.7142, 0.03em);
  color: var(--description-text-color);
}
