.team {
  background-color: var(--item-backgroung);
}
.team__title {
  @include font(36px, bold, 1.16, 0.03em);
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  justify-content: center;
  flex-basis: 270px;
}
.team-list__item {
  min-height: 368px;
  background-color: var(--color-primary);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  &:last-child {
    margin-right: 0;
  }
}
// .team-item:last-child {
//   margin-right: 0;
// }
.team-list__name {
  @include font(16px, 500, 1.18, 0.03em);
  text-align: center;
  color: var(--title-text-color);
  margin-top: 30px;
}
.team-list__job {
  @include font(16px, normal, 1.18, 0.03em);
  text-align: center;
  color: var(--description-text-color);
  margin-top: 10px;
}
